<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>voluntour义工旅行-国内最专业的义工旅行平台</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="author" content="voluntour">
  <meta name="copyright" content="voluntour">
	<meta name="keywords" content="国际义工旅行,义工旅行,大理义工旅行,云南义工旅行,voluntour,voluntour义工旅行,voluntour义工旅行官网,voluntour义工旅行平台,厦门义工旅行,国际义工网站，义工旅行,打工换宿,青年平台,大学生,旅行,Gapyear">
	<meta name="description" content="义工旅行，大理义工旅行，厦门义工旅行，三亚义工旅行，国内最大最专业的义工旅行平台，全年无间断发布义工旅行招募，voluntour义工旅行，让喜欢的事成为生活">

	<!-- stylesheets css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">

  <link rel="stylesheet" href="css/et-line-font.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

  <link rel="stylesheet" href="css/vegas.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- <link href='http://fonts.useso.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'> -->

</head>
<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
       <div class="sk-circle1 sk-child"></div>
       <div class="sk-circle2 sk-child"></div>
       <div class="sk-circle3 sk-child"></div>
       <div class="sk-circle4 sk-child"></div>
       <div class="sk-circle5 sk-child"></div>
       <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
       <div class="sk-circle8 sk-child"></div>
       <div class="sk-circle9 sk-child"></div>
       <div class="sk-circle10 sk-child"></div>
       <div class="sk-circle11 sk-child"></div>
       <div class="sk-circle12 sk-child"></div>
     </div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" data-wow-delay="0.4s">voluntour<br>让喜欢的事成为生活</h1>
          			<h3 class="wow fadeInUp" data-wow-delay="0.6s">我们坚信，我们在做一件<strong>对的事情</strong>，而且将令我们感到<strong>骄傲</strong></h3>
          			<a href="#about" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="0.8s">Let's begin</a>
        			<!-- <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="1.0s">Notify me!</a> -->
				</div>
			</div>

		</div>
	</div>		
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">

      <div class="col-md-6 col-sm-12">
        <img src="images/about-img.png" class="img-responsive wow fadeInUp" alt="voluntour">
      </div>

			<div class="col-md-6 col-sm-12">
				<div class="about-thumb">
					<div class="section-title">
						<h1 class="wow fadeIn" data-wow-delay="0.2s">Hello，voluntour</h1>
						<h3 class="wow fadeInUp" data-wow-delay="0.4s">我们一直都没放弃我们的追求</h3>
					</div>
					<div class="wow fadeInUp" data-wow-delay="0.6s">
						<p>voluntour义工旅行成立于2015年5月12日，由来自全国的在校大学生独立运营。voluntour致力于推动义工旅行市场的规范化，我们与全国2千多家青年旅舍保持合作，并且推出「36小时」招募要求，严格把控义工旅行的品质。</p>
						<p>我们鼓励更多的年轻人可以尝试多样的生活方式。我们始终相信，义工旅行带给大家的是改变。从固有的生活方式中抽离出来，换个角度全新阐释旅行的定义，就如我们始终秉持着的，让喜欢的事成为生活。</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<div class="copyrights">Collect from <a href=""  title=""></a></div>

<!-- feature section -->
<section id="feature">
  <div class="container">
    <div class="row">
      
      <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
        <path d="M0 0 L50 100 L100 0 Z"></path>
      </svg>

      <div class="col-md-4 col-sm-6">
        <div class="media wow fadeInUp" data-wow-delay="0.4s">
          <div class="media-object media-left">
            <i class="icon icon-laptop"></i>
          </div>
          <div class="media-body">
            <h2 class="media-heading">专业规范</h2>
            <p>全国规模最大品质最高的打工换宿平台，和包括泰国在内的二千余家青年旅舍合作</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media wow fadeInUp" data-wow-delay="0.8s">
          <div class="media-object media-left">
            <i class="icon icon-refresh"></i>
          </div>
          <div class="media-body">
            <h2 class="media-heading">跨界合作</h2>
            <p>和EO国际义工旅行、穷游国际志愿者联盟、造梦公益、Dreamnovation、 YIKIV多个组织合作，提供多种有趣的玩法</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-8">
        <div class="media wow fadeInUp" data-wow-delay="1.2s">
          <div class="media-object media-left">
            <i class="icon icon-chat"></i>
          </div>
          <div class="media-body">
            <h2 class="media-heading">好玩酷炫</h2>
            <p>从年轻人的需求出发，开展年轻人喜欢的旅行活动，多种多样的线下活动，为年轻人提供更多活动选择</p>
          </div>
        </div>
      </div>

      <div class="clearfix text-center col-md-12 col-sm-12">
        <a href="#contact" class="btn btn-default smoothScroll">Talk to us</a>
      </div>

    </div>
  </div>
</section>

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="section-title">
					<h1 class="wow fadeInUp" data-wow-delay="0.3s">Get in touch</h1>
					<p class="wow fadeInUp" data-wow-delay="0.6s">让喜欢的事成为生活</p>
				</div>
				<div class="contact-form wow fadeInUp" data-wow-delay="1.0s">
					<div class="">
            <img src="images/erweima.jpg" style='width:100%;'>
          </div>
				</div>
			</div>
	
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">

      <svg class="svgcolor-light" preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 Z"></path>
      </svg>

      <div class="col-md-4 col-sm-6">
        <h2>见到你很高兴</h2>
          <div class="wow fadeInUp" data-wow-delay="0.3s">
             <p>从2015年5月份成立到现在，我们一直积极寻找更多年轻人和我们一起去带来一些改变。<br>
              作为一个大学生团队，我们依旧不断地面临着更加艰难的考验。<br>
              虽然很累，但是我们不会放弃。<br>
              我们愿意通过自己的努力影响到更多的人，帮助更多的伙伴实现自己的梦想。</p>
             <p class="copyright-text">Copyright &copy; 2016 voluntour <br>
             让喜欢的事成为生活</p>
          </div>
      </div>

      <div class="col-md-1 col-sm-1"></div>

      <div class="col-md-4 col-sm-5">
        <h2>保持联系</h2>
        <p class="wow fadeInUp" data-wow-delay="0.6s">
          邮箱：voluntour@sina.com<br>
          微博：voluntour义工旅行<br>
          官方公众号：voluntour义工旅行平台
        </p>
        <ul class="social-icon">
          <li><a href="http://music.163.com/#/playlist?id=467507219&userid=120134354/m/?thirdfrom=sina" class="fa wow bounceIn" data-wow-delay="0.9s"><img src='images/netease.png' style='width:80%;margin:0 auto;'></a></li>
          <li><a href="http://weibo.com/u/5612200291?topnav=1&wvr=6&topsug=1" class="fa wow bounceIn" data-wow-delay="1.2s"><img src='images/weibo.png' style='width:80%;margin:0 auto;'></a></li>
          <li><a href="https://www.zhihu.com/people/voluntour/activities" class="fa wow bounceIn" data-wow-delay="1.4s"><img src='images/zhihu.png' style='width:80%;margin:0 auto;'></a></li>
          <!-- <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="1.6s"></a></li> -->
        </ul>
      </div>

		</div>
	</div>
</footer>

<!-- modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content modal-popup">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title">Our Newsletter</h2>
        </div>
        <form action="#" method="post">
          <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Full Name">
          <input name="email" type="text" class="form-control" id="email" placeholder="Email Address">
          <input name="submit" type="submit" class="form-control" id="submit" value="Subscribe Now">
        </form>
        <p>Thank you for your visiting!</p>
      </div>
  </div>
</div>


<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- javscript js -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/vegas.min.js"></script>

<script src="js/wow.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>